.blog-part {
    margin-top: 70px;
}

.blog-item {
    border: none!important;
    border-radius: 0!important;
    background-color: $tertiary-colour!important;
    font-weight: 100;
    margin-bottom: 25px ;
}

.blog-item-body {
    padding: 30px!important;
}

.blog-item-title {
    color: $main-fontcolour;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 30px;
}

.blog-item-title:hover {
    color: $secondary-colour;
    text-decoration: none;
}

.blog-meta-link {
    color: $second-fontcolour;
    font-size: 0.9em;
}

.blog-meta-link:hover {
    color: $secondary-colour;
    font-weight: bold;
}