.contact-content {
    font-weight: 100;
}

.form-title, .contact-informations-title {
    color: $main-fontcolour;
    font-weight: 100;
    padding-bottom: 40px;
}

.contact-form, .contact-informations {
    margin-top: 60px;
}

.form-control {
    background-color: $tertiary-colour!important;
    border: none!important;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}

.btn-submit {
    background-color: $secondary-colour!important;
    border: none!important;
    color: $main-fontcolour!important;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 0.8em!important;
    padding: 15px!important;
    margin-top: 30px;
}

.contact-informations-listing-item {
    margin-bottom: 30px;
}

.listing-item-label {
    color: $quaternary-colour;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
}

