.navbar {
    position: absolute;
    background-color: #ffffff!important;
    text-transform: uppercase;
    height: 5%;
}

.navbar-collapse {
    background-color: #ffffff!important;
    box-sizing: border-box;
    padding-left: 5%;
}

.nav-item {
    padding: 10px;
    color: $tertiary-colour!important;
}
