.resume-part-title {
    color: $main-fontcolour;
    font-size: 1.5em;
    font-weight: 100;
    padding-bottom: 30px;
}

.resume-part {
    padding-top: 70px;
}

.resume-part-item {
    background-color: $tertiary-colour;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    font-weight: 100;
}

.date {
    font-weight: bold;
    color: $main-fontcolour;
    font-size: 0.8em;
}

.resume-part-item-title {
    color: $secondary-colour;
    font-weight: 100;
    font-size: 1.3em;
    margin-top: 10px;
}

@media screen and (min-width: 770px) and (max-width: 1300px) {
    .resume-parts-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .resume-part {
        width: 48%;
    }
}