.services-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.services-item {
    background-color: $tertiary-colour;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    font-weight: 100;
}

.services-item-title {
    margin-top: 30px;
    color: $main-fontcolour;
    font-size: 1.3em;
    font-weight: 100;
}

.services-item-text {
    margin-top: 30px;
}

.services-item-link {
    color: $secondary-colour;
    display: inline-block;
}

.services-item-link-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.services-item-link:hover {
    animation: pushing 0.5s
}

@keyframes pushing {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 20px
    }
}

@media screen and (min-width: 990px) and (max-width: 1300px) {
    .services-item {
        width:30%;
    }

    .services-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}